body{
    
    background-image: url('travellocation1.jpg');
    overflow: hidden;
    padding: 0;
    margin: 0;
    
    display: flex;
    flex-direction: row;
    

}
@font-face {
    font-family: norse-bold;
    src: url(webfontkit/journal-webfont.woff2);
    src: url(webfontkit/journal-webfont.woff);
}

#next-container{
    display: flex;
    flex-direction: column;
    
    background-color: #ffffff;


    padding-right: 100%;
    
    
    height: 100vh;
}
#first-container{
    font-family: norse-bold;
    font-size: large;
    display: flex;
    flex-direction: row;

    
    padding: 0;
    
}
p{
    text-align: left;
}
.input-container{
    display: flex;
    flex-direction: row;
}
.input-container > div{
    display: flex;
    flex-direction:column;
    margin-top: 20px;
    margin-right: 10px;
    
}
label{
    align-items: center;
    justify-content: center;
}
button{
    color:#596D48;
    background-color: #00ff00;
    
    margin-top: 10px;
    border-radius: 10px;
    padding: 0;
    width: 100px;
    border: 1px solid #ffffff;
}
a{
    color: #00ff00;
    text-decoration: none;
}
#first-container > div{
    text-align: end;
}
input{
    border: 1px solid #E5E7EB;
}
input:invalid{
    border: 1px solid #ff0000;
}
input:focus{
    border: 1px solid #0000ff;
}
